@import "tailwindcss";

@font-face {
  font-family: "superMario";
  src: url("/assets/fonts/SuperMario256.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "space";
  src: url("/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pixelify";
  src: url("/assets/fonts/PixelifySans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .text-stroke {
    -webkit-text-stroke: 8px black;
  }

  .text-mario-blue {
    @apply text-[#009bd9];
  }

  .text-mario-green {
    @apply text-[#44af35];
  }

  .text-mario-red {
    @apply text-[#e62310];
  }

  .text-mario-yellow {
    @apply text-[#fccf00];
  }
}
