@import "tailwindcss";


@font-face {
  font-family: "PressStart2P-vaV7";
  src: url("/fonts/PressStart2P-vaV7.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rainyhearts";
  src: url("/fonts/rainyhearts.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-arcade: "PressStart2P-vaV7", sans-serif;
  --font-rainy: "rainyhearts", sans-serif;
}